
* {
  font-family: 'Roboto Mono', monospace;
}

#body {
  background-color: rgb(44, 44, 44);
}

.logo {
  height: 2em;
}

.nav-link {
  height: 1vw;
  line-height: .5vw;
}

.user-galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.clickable-image {
  margin: .1em;
  width: 17vw;
  height: 17vw;
  overflow: hidden;
}

.clickable-image:hover {
  transform: scale(1.1);
}

.gallery-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

.gallery-title {
  
}

.round-count {

}

#battle-zone {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  pointer-events: none;
  margin-top: 2em;
}

#battle-zone > * {
  pointer-events: auto;
  transition: 300ms opacity, 300ms transform;

}

#battle-zone:hover > *:not(.complete) {
  transform: scale(0.8);
  opacity: 0.6;
  border: 3px solid rgb(255, 12, 12);
  padding: none;
}

#battle-zone:hover > *:not(.complete):hover {
  transform: scale(1.2);
  opacity: 1;
  border: 3px solid rgb(39, 250, 2);
  padding: none;
}

.photo-contest {
  border: solid white 1px;
  width: 49%;
  object-fit: contain;
  text-align: center;
}

.favorite-photo {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  
}

.drag-drop-zone {
  padding: 2rem;
  text-align: center;
  background: rgb(93, 161, 182);
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #C0C0C0;
  width: 100%;
}
.drag-drop-zone p {
  color: #FFF;
}
.drag-drop-zone.inside-drag-area {
  opacity: 0.7;
}
.dropped-files li {
  color: #07F;
  padding: 3px;
  text-align: left;
  font-weight: bold;
}



// .clickable-image:hover > * {
//   transform: scale(.9);
// }

// .clickable-image:hover {
//   border: rgb(157, 157, 158) 1px solid;
//   transform: scale(1.3);
// }
